/* Container for the login form */
.Login-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90vh;
    background: url('../../../public/image11.png') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Style for the form */
  .Login-form form {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
  }
  
  /* Heading style */
  .Login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  /* Style for input fields and labels */
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .input-field input {
    width: 90%;
    padding: 12px;
    border: 1px solid #afacac;
    border-radius: 4px;
  }
  
  .input-field input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Style for error messages */
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  /* Style for the submit button */
  button[type='submit'] {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  /* Style for the link button */
  button a {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  button a:hover {
    text-decoration: underline;
  }
  
  /* Style for the link button */
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: transparent; /* Transparent background */
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Light hover effect */
  }
  